@using StokTakip.Entities.ViewModels
@model ProductCategoryModel
@{
    ViewBag.Title = "Ürün Ekle";
}

<h2>Ürün Ekle</h2>
@{int toplamAlis = 0;
  int toplamSatis = 0;
    }


@using (Html.BeginForm())
{
    <form role="form">
        <fieldset>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.TextBoxFor(Model => Model.Product.UrunAdi, new { @class = "form-control input-lg", placeholder = "Ürün Adı" })

                </div>
                <div class="form-group">

                    @Html.DropDownListFor(m => m.SelectedCategoryId, (SelectList)ViewBag.CategoryData, "Lütfen Seçiniz", new { @class = "dropdown form-control" })

                </div>
                <div class="form-group">
                    @Html.TextBoxFor(Model => Model.Product.AlisFiyat, new { @class = "form-control input-lg", placeholder = "Alış Fiyatı", })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(Model => Model.Product.SatisFiyat, new { @class = "form-control input-lg", placeholder = "Satış Fiyatı", })
                </div>

            </div>

            <div class="col-md-6">
                <div class="form-group">
                    @Html.TextBoxFor(Model => Model.Product.KdvOrani, new { @class = "form-control input-lg", placeholder = "Kdv Oranı", })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(Model => Model.Product.StokMiktari, new { @class = "form-control input-lg", placeholder = "Stok Miktarı", })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(Model => Model.Product.OlcuBirimi, new { @class = "form-control input-lg", placeholder = "Ölçü Birimi", })
                </div>

            </div>
     
          


            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-success btn-block" value="Kaydet">
                </div>

            </div>
        </fieldset>
    </form>

}

<br /><br />
     